h1{
    color: #ff9900;
    font-size: 30px;
    font-weight: bold;
}
p {
    color: #002fff;
    font-size: 16px;
    font-weight: normal;
}
h2{
    color: #00ff40;
    font-size: 25px;
    font-weight: 600;
}